.wheel *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.wheel {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	min-height: 50vh;
	margin-bottom:100px;
}
.containerwheel {
	height: 350px;
	width: 350px;
	background: #4ed4c6;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 10px gray;
	transition: 3s all;
}
.containerwheel div{
	height: 50%;
	width: 200px;
	clip-path: polygon(100% 0,50% 100%, 0 0);
	transform: translateX(-50%);
	transform-origin: bottom;
	position: absolute;
	left: 21%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-family: monospace;
	font-weight: 1000;
	color:#008276; 
	 writing-mode: vertical-rl;
}
.containerwheel .one{
	background: #baf4ee;
	left: 50%;
}
.containerwheel .two{
	background: #4ed4c6;
	transform: rotate(60deg);
}
.containerwheel .three{
	background: #baf4ee;
	transform: rotate(120deg);
}
.containerwheel .four{
	background: rgb(255, 217, 0);
	transform: rotate(180deg);
}
.containerwheel .five{
	background: #baf4ee;
	transform: rotate(240deg);
}
.containerwheel .six{
	background: #4ed4c6;
	transform: rotate(300deg);
}
.mid{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	position: absolute;
	background: #008276;
}
#spin{
	height: 60px;
	width: 200px;
	background: #4ed4c6;
	position: absolute;
	margin-top: 600px;
	font-size: 30px;
	color: white;
	font-weight: 1000;
	letter-spacing: 4px;
	border: 1px solid white;
	cursor: pointer;
	box-shadow: 0 5px 10px gray;
	transition: 0.2s all;
}
#spin:hover{
	box-shadow: none;
}
.stoper{
	height: 50px;
	width: 40px;
	background: #000000;
	position: absolute;
	clip-path: polygon(100% 0,50% 100%, 0 0);
	margin-top: -350px;
}

.titlewheel {
  padding-bottom:0
}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 10vh; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: disabled;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	display: flex;
	justify-content: center;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	text-align: left;
	font-size: 28px;
	font-weight: bold;
	margin-right: auto;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

.coupon {
	border: 1px solid black;
	display: flex;
	justify-content: center;
}

.coupon p{
	margin-top:10px;
	font-size: 30px;
}

.modal-content img{
	margin-left:25%;
	width: 50%;
	height: 50%;
}