{% extends 'base.html' %} {% block navbar %}
<header
  class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow"
  data-bs-theme="dark"
>
  <a
    class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white"
    href="{{ url_for('home') }}"
    >RNW Insurance</a
  >

  <ul class="navbar-nav flex-row d-md-none">
    <li class="nav-item text-nowrap">
      <button
        class="nav-link px-3 text-white"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
          />
        </svg>
      </button>
    </li>
  </ul>
</header>
{% endblock %}{% block head %}
<style>
  .bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }

  /*
   * Sidebar
   */

  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }

  .sidebar .nav-link {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .sidebar .nav-link.active {
    color: #2470dc;
  }

  .sidebar-heading {
    font-size: 0.75rem;
  }

  /*
   * Navbar
   */

  .navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
  }

  .navbar .form-control {
    padding: 0.75rem 1rem;
  }

  .dropdown-toggle {
    outline: 0;
  }

  .btn-toggle {
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), 0.85);
    background-color: var(--bs-tertiary-bg);
  }

  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
  }

  [data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }

  .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }

  .btn-toggle-nav a {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
  }
</style>
{% endblock %} {% block top_level_body %}
<!-- Modal -->
<div
  class="modal fade"
  id="create-item-modal"
  tabindex="-1"
  aria-labelledby="item-modal-label"
  aria-hidden="true"
>
  <div class="modal-lg modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="item-modal-label">Add Insured Item</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="javascript:handleItemCreate({ ownerId, itemDescription, damageDescription, damageDate, address, repairDescription, repairDate, subscriptionType, subscriptionStartDate, subscriptionDuration })"
          id="create-item-form"
        >
          <div class="row">
            <h4>Item</h4>
            <div class="col-12">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="ownerId"
                  placeholder="Enter your Id here"
                  required
                />
                <label for="ownerId">Owner Id</label>
                <div class="invalid-feedback">
                  The owner Id entered does not exist.
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating mb-3">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="itemDescription"
                  style="height: 100px"
                  required
                ></textarea>
                <label for="itemDescription">Description</label>
              </div>
            </div>

            <hr class="my-4" />
            <h4>Details</h4>
            <div class="col-md-12">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Enter your item address"
                  required
                />
                <label for="address">Address</label>
              </div>
            </div>
            <h5 class="lead">Damage</h5>
            <div class="col-md-8">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="damageDescription"
                  placeholder="Enter your damage description"
                />
                <label for="damageDescription">Description</label>
                <div class="invalid-feedback">
                  Both fields are required if there is damage
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <input
                  type="date"
                  class="form-control"
                  id="damageDate"
                  placeholder="Enter your damage description"
                />
                <label for="damageDate">Date</label>
              </div>
            </div>

            <h5 class="lead">Repair Status</h5>
            <div class="col-md-8">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="repairDescription"
                  placeholder="Enter your repair description"
                />
                <label for="repairDescription">Description</label>
                <div class="invalid-feedback">
                  Both fields are required if there is an ongoing repair
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <input
                  type="date"
                  class="form-control"
                  id="repairDate"
                  placeholder="Enter your repair description"
                />
                <label for="repairDate">Start Date</label>
              </div>
            </div>

            <hr class="my-4" />
            <h4>Subscription</h4>
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <select
                  class="form-select"
                  id="subscriptionType"
                  aria-label="Floating label select example"
                  required
                >
                  <option value="bronze" selected>Bronze</option>
                  <option value="silver">Silver</option>
                  <option value="gold">Gold</option>
                </select>
                <label for="subscriptionType">Plan Type</label>
                <div class="invalid-feedback">The plan type is required</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <input
                  type="date"
                  class="form-control"
                  id="subscriptionStartDate"
                  placeholder="Enter your start date"
                  required
                />
                <label for="subscriptionStartDate">Start Date</label>
                <div class="invalid-feedback">The start date is required</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <select
                  class="form-select"
                  id="subscriptionDuration"
                  aria-label="Floating label select example"
                  required
                >
                  <option value="month" selected>Monthly</option>
                  <option value="quarter">Quarterly</option>
                  <option value="year">Yearly</option>
                </select>
                <label for="subscriptionDuration">Duration</label>
              </div>
            </div>
          </div>
        </form>
        <p class="text-muted">
          Please ensure that you have checked all entered information is
          correct. <br />
          If any mistakes were made, you may still update the information in the
          table.
        </p>
      </div>

      <div class="modal-footer">
        <button
          class="btn btn-light border-2 border-dark rounded-pill"
          type="submit"
          form="create-item-form"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="delete-item-modal"
  tabindex="-1"
  aria-labelledby="delete-item-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="delete-item-label">
          Confirm Deletion
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This action is <strong>irreversible</strong>. Are you sure you want to
        delete this item?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger rounded-pill"
          onclick="handleItemDelete()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div
      class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary"
    >
      <div
        class="offcanvas-md offcanvas-end bg-body-tertiary"
        tabindex="-1"
        id="sidebarMenu"
        aria-labelledby="sidebarMenuLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">
            <a href="{{ url_for('home' )}}"></a>RNW Insurance
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            data-bs-target="#sidebarMenu"
            aria-label="Close"
          ></button>
        </div>
        <div
          class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto"
        >
          <div class="flex-shrink-0 p-3" style="width: 280px">
            <h5
              class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom fs-5 fw-semibold"
            >
              Admin Panel
            </h5>
            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button
                  class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#home-collapse"
                  aria-expanded="false"
                >
                  Home
                </button>
                <div class="collapse" id="home-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                      <a
                        href="#"
                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                        >Dashboard</a
                      >
                    </li>
                    <li>
                      <a
                        href="#plans"
                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                        >Plans</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button
                  class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#dashboard-collapse"
                  aria-expanded="false"
                >
                  Users
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                      <a
                        href="{{ url_for('admin_users') }}"
                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                        >Accounts</a
                      >
                    </li>
                    <li>
                      <a
                        href="{{ url_for('admin_bills') }}"
                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                        >Invoices</a
                      >
                    </li>
                    <li>
                      <a
                        href="{{ url_for('admin_livepayment') }}"
                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                        >Live payments</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button
                  class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#orders-collapse"
                  aria-expanded="false"
                >
                  Items
                </button>
                <div class="collapse" id="orders-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                      <a
                        href="{{ url_for('admin_items') }}"
                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                        >Manage</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1">
                <button
                  class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#account-collapse"
                  aria-expanded="false"
                >
                  Account
                </button>
                <div class="collapse" id="account-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                      <a
                        href="{{ url_for('profile') }}"
                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                        >Profile</a
                      >
                    </li>
                    <li>
                      <a
                        href="{{ url_for('logout') }}"
                        class="link-body-emphasis d-inline-flex text-decoration-none rounded"
                        >Sign out</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2" id="new">Items</h1>
      </div>
      <button
        class="btn btn-dark rounded-pill"
        data-bs-toggle="modal"
        data-bs-target="#create-item-modal"
      >
        Create Item
      </button>
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Manage Items</h1>
      </div>
      <form class="w-100 me-3 mb-3" role="search" action="" method="post">
        <input
          type="search"
          class="form-control border-2"
          placeholder="Search by owner or item Id..."
          aria-label="Search"
          id="search"
          name="search"
        />
      </form>
      {% if error %}
      <div class="bg-body-tertiary p-5 rounded">
        {% if error == "USER_NOT_FOUND" %}
        <p class="lead">
          You searched for <code>{{ search }}</code> which is a valid item Id
          but the user has been deleted, the bill has been deleted.
        </p>
        {% elif error == "ITEM_NOT_FOUND" %}
        <p class="lead">
          You searched for <code>{{ search }}</code>, however no item could be
          found.
        </p>
        {% endif %}
      </div>
      {% else %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
              <th scope="col">Description</th>
              <th scope="col">Id</th>
              <th scope="col">Item Id</th>
              <th scope="col">Damage</th>
              <th scope="col">Repairs</th>
              <th scope="col">Subscription</th>
            </tr>
          </thead>
          <tbody>
            {% for item, user in items %}
            <tr>
              <td scope="row">
                <img
                  src="{{ url_for('static', filename='images/userprofileimg/' + ( user.get_picture() or 'avatar.png')) }}"
                  alt="pfp"
                  height="32"
                  width="32"
                  class="img-fluid border border-primary rounded-circle"
                />
                <span class="ms-1">{{ user.get_name() }}</span>
                <span class="text-muted"
                  >{% if user.get_id() == current_user.get_id() %} (You) {%
                  endif %}
                </span>
                <span class="text-success" id="feedback"></span>
              </td>
              <td>{{ user.get_email() }}</td>
              <td>{{ item.get_status().get_address() }}</td>
              <td>{{ item.get_description() }}</td>
              <td>
                <button
                  type="button"
                  id="{{ user.get_id() }}-copy"
                  class="btn btn-light border-2 border-dark rounded-pill"
                  onclick="copy('{{ user.get_id()}}', this)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-title="{{ user.get_id() }}"
                >
                  Copy
                </button>
              </td>
              <td>
                <button
                  type="button"
                  id="{{ item.get_item_id() }}-copy"
                  class="btn btn-light border-2 border-dark rounded-pill"
                  onclick="copy('{{ item.get_item_id()}}', this)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-title="{{ item.get_item_id() }}"
                >
                  Copy
                </button>
              </td>
              <td>
                <a
                  class="btn btn-light border-2 border-dark rounded-pill"
                  href="{{ url_for('admin_update_items', id=item.get_item_id(), _anchor='anchor-damage') }}"
                >
                  Edit
                </a>
              </td>
              <td>
                <a
                  class="btn btn-light border-2 border-dark rounded-pill"
                  href="{{ url_for('admin_update_items', id=item.get_item_id(), _anchor='anchor-repairs') }}"
                >
                  Edit
                </a>
              </td>
              <td>
                <a
                  class="btn btn-light border-2 border-dark rounded-pill"
                  href="{{ url_for('admin_update_items', id=item.get_item_id(), _anchor='anchor-subscription') }}"
                >
                  Edit
                </a>
              </td>
              <td>
                <button
                  class="btn btn-danger rounded-pill"
                  onclick="setItemDeleteId('{{ item.get_item_id() }}')"
                  data-bs-toggle="modal"
                  data-bs-target="#delete-item-modal"
                >
                  Delete
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <p class="col-md-4 mb-0 text-body-secondary">
          &copy; RNW Insurance • v1.0.0a • IP: {{ ip_addr }}
        </p>
      </footer>
    </main>
  </div>
</div>
{% endblock %}{% block footer %}{% endblock %}{% block user_scripts %}
<script src="{{ url_for('static', filename='js/tooltips.js')}}"></script>
<script src="{{ url_for('static', filename='js/userManagement.js')}}"></script>
{% endblock %}
