{% extends "base.html" %} {% block title %}Home{% endblock %} {% block
content %}
<div class="container">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">ONE-OF-A-KIND</h1>
    <h1 class="display-5 fw-bold text-body-emphasis">INSURANCE</h1>
  </div>

  <div class="row">
    <div class="col-lg-4 text-center">
      <img
        src="/static/images/diamond.jpeg"
        alt="gold"
        class="rounded"
        height="140px"
        width="140"
      />
      <h2 class="fw-normal mt-1">Gold</h2>
      <p>
        Full coverage on any subscribed device, whether you run the battery out
        or it gets stolen, you can rest assured we will have you covered.
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <img
        src="/static/images/plat.jpeg"
        alt="silver"
        class="rounded"
        height="140px"
        width="140"
      />
      <h2 class="fw-normal mt-1">Silver</h2>
      <p>
        Partial coverage on any subscribed device, you can still rest assured we
        will have you covered.
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <img
        src="/static/images/gold.jpeg"
        alt="bronze"
        class="rounded"
        height="140px"
        width="140"
      />

      <h2 class="fw-normal mt-1">Bronze</h2>
      <p>
        Limited coverage on any subscribed device, we will only cover certain
        situations.
      </p>
    </div>
    <!-- /.col-lg-4 -->

    <div class="text-center">
      <p><a class="btn btn-secondary" href="#">Get Covered Today</a></p>
    </div>
  </div>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">What We Are About</h1>
    <h5 class="display-7 fw-bold text-body-emphasis">Made for Everyone</h5>
    <p class="lead mb-4">
      We founded Renew Insurance with one goal in mind: providing high-quality
      insurance for your electronics. Our passion for excellence has driven us
      from the beginning and continues to propel us going forward. We know that
      every device counts, and strive to make your insurance plan as
      comprehensive as it can be. Don't settle for anything but the best—check
      us out for yourself.
    </p>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <img src="/static/images/guy.png" alt="some guy" class="rounded" />
    </div>

    <div class="col-lg-6 offset-lg-2">
      <h1 class="display-5 fw-bold text-body-emphasis">Award Winning</h1>
      <h5 class="display-7 fw-bold text-body-emphasis">Outstanding Quality</h5>
      <p class="lead mb-4">
        Renew Insurance won the Singapore Best Insurance Company 2023 Award,
        clear of strong competitors like FWD Singapore, AIA, and HSBC Insurance.
        We are proud to serve over a million customers in Singapore and millions
        more globally, protecting your valuable devices with our excellent plans
        & policies.
      </p>
    </div>
  </div>

  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-5 fw-bold text-body-emphasis">Subscribe to our Newsletter</h1>

      <p class="col-lg-10 fs-4">
        Get the latest news and promotions from Renew Insurance straight to your
        email inbox.
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="example@gmail.com" />
          <button type="submit" class="btn btn-secondary" id ="sub-button">Subscribe</button>
        </div>
        <hr class="my-4" />
        <small class="text-body-secondary"
          >By subscribing, you agree to our terms of use.</small>
      </form>
    </div>
  </div>
</div>

{% endblock %}