{% extends "base.html" %} {% block head %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/shop.css')}}"
/>
{% endblock %} {% block title %}Shop{% endblock %} {% block content %}

<div class="filter-btns">
  <button type="button" class="filter-btn" id="all">All</button>
  <button type="button" class="filter-btn" id="iphone">Iphone</button>
  <button type="button" class="filter-btn" id="samsung">Samsung</button>
  <button type="button" class="filter-btn" id="xiaomi">Xiaomi</button>
</div>

<!--Product Cards-->
<section id="product-cards">
  <div class="container-fluid">
    <div class="row row-cols-2 row-cols-md-4 g-4">
      <div class="col filter-item all iphone">
        <div class="card h-100">
          <img
            src="../static/images/iphone13.jpg"
            class="card-img-top shop-item-image"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title shop-item-title">iPhone 13</h5>
            <p class="card-text shop-item-price">$800</p>
            <button
              type="button"
              style="width: 100%"
              class="btn btn-warning mt-auto shop-item-button"
            >
              <i class="fa-solid fa-cart-shopping" style="margin-right: 4%"></i
              >Add To Cart
            </button>
          </div>
        </div>
      </div>

      <div class="col filter-item all iphone">
        <div class="card h-100">
          <img
            src="../static/images/iphonex.jpg"
            class="card-img-top shop-item-image"
            alt="..."
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title shop-item-title">iPhone X</h5>
            <p class="card-text shop-item-price">$500</p>
            <button
              type="button"
              style="width: 100%"
              class="btn btn-warning mt-auto shop-item-button"
            >
              <i class="fa-solid fa-cart-shopping" style="margin-right: 4%"></i
              >Add To Cart
            </button>
          </div>
        </div>
      </div>

      <div class="col filter-item all iphone">
        <div class="card h-100">
          <img
            src="../static/images/iphone11.jpg"
            class="card-img-top shop-item-image"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title shop-item-title">iPhone 11</h5>
            <p class="card-text shop-item-price">$600</p>
            <button
              type="button"
              style="width: 100%"
              class="btn btn-warning mt-auto shop-item-button"
            >
              <i class="fa-solid fa-cart-shopping" style="margin-right: 4%"></i
              >Add To Cart
            </button>
          </div>
        </div>
      </div>

      <div class="col filter-item all iphone">
        <div class="card h-100">
          <img
            src="../static/images/iphone12.jpg"
            class="card-img-top shop-item-image"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title shop-item-title">iPhone 12</h5>
            <p class="card-text shop-item-price">$700</p>
            <button
              type="button"
              style="width: 100%"
              class="btn btn-warning mt-auto shop-item-button"
            >
              <i class="fa-solid fa-cart-shopping" style="margin-right: 4%"></i
              >Add To Cart
            </button>
          </div>
        </div>
      </div>

      <div class="col filter-item all samsung">
        <div class="card h-100">
          <img
            src="../static/images/samsungs23.jpg"
            class="card-img-top shop-item-image"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title shop-item-title">Samsung S23</h5>
            <p class="card-text shop-item-price">$800</p>
            <button
              type="button"
              style="width: 100%"
              class="btn btn-warning mt-auto shop-item-button"
            >
              <i class="fa-solid fa-cart-shopping" style="margin-right: 4%"></i
              >Add To Cart
            </button>
          </div>
        </div>
      </div>

      <div class="col filter-item all samsung">
        <div class="card h-100">
          <img
            src="../static/images/samsungs22.jpg"
            class="card-img-top shop-item-image"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title shop-item-title">Samsung S22</h5>
            <p class="card-text shop-item-price">$700</p>
            <button
              type="button"
              style="width: 100%"
              class="btn btn-warning mt-auto shop-item-button"
            >
              <i class="fa-solid fa-cart-shopping" style="margin-right: 4%"></i
              >Add To Cart
            </button>
          </div>
        </div>
      </div>

      <div class="col filter-item all samsung">
        <div class="card h-100">
          <img
            src="../static/images/samsungs20.jpg"
            class="card-img-top shop-item-image"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title shop-item-title">Samsung S20</h5>
            <p class="card-text shop-item-price">$600</p>
            <button
              type="button"
              style="width: 100%"
              class="btn btn-warning mt-auto shop-item-button"
            >
              <i class="fa-solid fa-cart-shopping" style="margin-right: 4%"></i
              >Add To Cart
            </button>
          </div>
        </div>
      </div>

      <div class="col filter-item all samsung">
        <div class="card h-100">
          <img
            src="../static/images/samsunga14.jpg"
            class="card-img-top shop-item-image"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title shop-item-title">Samsung A14</h5>
            <p class="card-text shop-item-price">$250</p>
            <button
              type="button"
              style="width: 100%"
              class="btn btn-warning mt-auto shop-item-button"
            >
              <i class="fa-solid fa-cart-shopping" style="margin-right: 4%"></i
              >Add To Cart
            </button>
          </div>
        </div>
      </div>

      <div class="col filter-item all xiaomi">
        <div class="card h-100">
          <img
            src="../static/images/xiaominote13.jpg"
            class="card-img-top shop-item-image"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title shop-item-title">Redmi 13</h5>
            <p class="card-text shop-item-price">$200</p>
            <button
              type="button"
              style="width: 100%"
              class="btn btn-warning mt-auto shop-item-button"
            >
              <i class="fa-solid fa-cart-shopping" style="margin-right: 4%"></i
              >Add To Cart
            </button>
          </div>
        </div>
      </div>

      <div class="col filter-item all xiaomi">
        <div class="card h-100">
          <img
            src="../static/images/xiaomi13t.jpg"
            class="card-img-top shop-item-image"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title shop-item-title">Xiaomi 13T</h5>
            <p class="card-text shop-item-price">$200</p>
            <button
              type="button"
              style="width: 100%"
              class="btn btn-warning mt-auto shop-item-button"
            >
              <i class="fa-solid fa-cart-shopping" style="margin-right: 4%"></i
              >Add To Cart
            </button>
          </div>
        </div>
      </div>

      <div class="col filter-item all xiaomi">
        <div class="card h-100">
          <img
            src="../static/images/xiaomi13pro.jpg"
            class="card-img-top shop-item-image"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title shop-item-title">Xiaomi 13 Pro</h5>
            <p class="card-text shop-item-price">$500</p>
            <button
              type="button"
              style="width: 100%"
              class="btn btn-warning mt-auto shop-item-button"
            >
              <i class="fa-solid fa-cart-shopping" style="margin-right: 4%"></i
              >Add To Cart
            </button>
          </div>
        </div>
      </div>

      <div class="col filter-item all xiaomi">
        <div class="card h-100">
          <img
            src="../static/images/xiaomim6pro.jpg"
            class="card-img-top shop-item-image"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title shop-item-title">POCO M6 Pro</h5>
            <p class="card-text shop-item-price">$200</p>
            <button
              type="button"
              style="width: 100%"
              class="btn btn-warning mt-auto shop-item-button"
            >
              <i class="fa-solid fa-cart-shopping" style="margin-right: 4%"></i
              >Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<!--Shopping Cart-->
<section class="container content-section" id="shopping-cart">
  <h3 style="text-decoration: underline; text-align: center; margin-bottom: 7%">
    Shopping Cart
  </h3>

  <table class="table table-hover table-cart">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity(Max 1)</th>
      </tr>
    </thead>
    <tbody class="cart-items"></tbody>
  </table>

  <div class="cart-total">
    <strong class="cart-total-title">Total</strong>
    <span class="cart-total-price" style="text-align: right">$0</span>
  </div>

  <div class="btn-purchase" style="margin-top: 10%">
    <button type="button" class="btn btn-dark btn-purchase">
      <i class="fa-solid fa-cart-shopping" style="margin-right: 6%"></i>PURCHASE
    </button>
  </div>
</section>


{% endblock %} 
{% block user_scripts %}
<!--External JS-->
<script src="{{ url_for('static', filename='js/shop.js') }}"></script>
<script>
  btn.onclick = function () {
    fetch();
  };
</script>
{% endblock %}
