<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Billing CRUD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h4>Billing Info</h4>

    <form method="post" action="">
        <h5>Create a Bill</h5>
        <div class="col-sm-4">
            <input name="customer_id" class="form-control" type="text" placeholder="Customer Id" required>
        </div>

        <button class="btn btn-primary my-1" type="submit" name="submit" value="create_bill">Create Bill</button>
    </form>
    <p>{{ created_bill }}</p>
    <hr>
    <form method="post" action="">
        <h5>Find Bill by Id</h5>
        <div class="col-sm-4">
            <input name="bill_id" class="form-control" type="text" placeholder="Bill Id" required>
        </div>

        <button class="btn btn-primary my-1" type="submit" name="submit" value="find_bill">Find Bill</button>
    </form>
    <p>{{ found_bill }}</p>
    <hr>
    <form method="post" action="">
        <h5>Update a Bill</h5>
        <div class="row">
            <div class="col-sm-4">
                <input name="customer_id" class="form-control" type="text" placeholder="Customer Id" required>
            </div>
            <div class="col-sm-4">
                <input name="bill_id" class="form-control" type="text" placeholder="Bill Id" required>
            </div>

        </div>
        <div class="col-sm-4">
            <h6>Status</h6>
            <div class="my-1">
                <div class="form-check">
                    <input value="payed" class="form-check-input" name="bill_status" type="radio" required>
                    <label class="form-check-label" for="payed">Payed</label>
                </div>
                <div class="form-check">
                    <input value="unpayed" class="form-check-input" name="bill_status" type="radio" required>
                    <label class="form-check-label" for="unpayed">Unpayed</label>
                </div>
            </div>
        </div>
        <button class="btn btn-primary my-1" type="submit" name="submit" value="update_bill">Update Bill</button>
    </form>
    <p>{{ updated_bill }}</p>
    <hr>
        <form method="post" action="">
        <h5>Delete a Bill</h5>
        <div class="col-sm-4">
            <input name="bill_id" class="form-control" type="text" placeholder="Bill Id" required>
        </div>

        <button class="btn btn-primary my-1" type="submit" name="submit" value="delete_bill">Delete Bill</button>
    </form>
    <p>{{ deleted_bill }}</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>