{% extends "base.html" %} 
{% block title %}Contact{% endblock %} 
{% block content %}

<body>
    <div class="container">
        <h1>Contact Us</h1>
        <p>Please drop us a note if you have any feedback or questions.</p>
        <div class="contact-box">
            <div class="contact-left">
                <h3>Sent Your Request</h3>
                <form method="POST">
                    {{ form.csrf_token }}
                    <div class="input-row">
                        <div class="input-group">
                            <label>Name</label>
                            {{ form.name(class="form-control", placeholder="Name") }}
                        </div>
                        <div class="input-group">
                            <label>Phone Number</label>
                            {{ form.phone_number(class="form-control", placeholder="XXXXXXXX") }}
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label>Email</label>
                            {{ form.email(class="form-control", placeholder="Email@Email.com") }}
                        </div>
                    </div>
                    <label>Enter your feedback and enquires here</label>
                    {{ form.message(class="form-control", placeholder="Enter your message") }}

                    {{ form.submit_contact(class="w-100 btn btn-primary")}}
                    {% if form.errors %}
                    <ul class="errors">
                      {% for field in form %}
                      {% for error in field.errors %}
                      <li>{{field.label}}: {{ error }}</li>
                      {% endfor %}
                      {% endfor %}
                    </ul>
                    {% endif %}
                    {{ result }}
                </form>
            </div>
            <div class="contact-right">
                <h3>Reach Us</h3>
                <table>
                    <tr>
                        <td>Email</td>
                        <td>contactus@example.com</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>1111 1111</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>LoremIpsum</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}