<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <title>Home</title>
</head>
<body>
<!--Navigation Bar-->
<header>
    <img class="phonylogo" src="/static/images/phonylogo.png">
    <nav>
        <ul class="nav-container">
            <li><a href="home.html">Home - {{name}}</a></li>
            <li><a href="repair.html">Repair</a></li>
            <li><a href="shop.html">Buy a Phone</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="locations.html">Locations</a></li>
            <li><a href="cart.html"><img class="cartlogo" src="/static/images/cartlogo.svg"></a></li>
        </ul>
    </nav>
</header>
<!--Navigation Bar End-->

<div class="title">
    <h1>ONE-OF-A-KIND</h1>
    <h1>INSURANCE</h1>
</div>

<div>
    <table class="insurance">
        <tr class="ranks">
            <td><img src="/static/images/diamond.jpeg"></td>
            <td><img src="/static/images/plat.jpeg"></td>
            <td><img src="/static/images/gold.jpeg"></td>
        </tr>
        <tr>
            <td>Diamond Insurance</td>
            <td>Platinum Insurance</td>
            <td>Gold Insurance</td>
        </tr>
        <tr class="prices">
            <td>$100</td>
            <td>$75</td>
            <td>$50</td>
        </tr>
        <tr>
            <td colspan="3" class="shopbutton">
                <button>SHOP</button>
            </td>
        </tr>
    </table>
</div>

<div class="newsletter">
    <h1>Subscribe Form</h1>
    <input type="text" placeholder = "eg. email@example.com">
    <p><button>Join</button></p>
    <p>Thanks for subscribing!</p>
</div>

<div class="about">
    <h1>WHAT WE'RE ALL ABOUT</h1>
    <h5>Made for everyone</h5>
    <p>We founded Phony Insurance with one goal in mind: providing high-quality insurance for your electronics.</p>
    <p>Our passion for excellence has driven us from the beginning and continues to propel us going forward.</p>
    <p>We know that every device counts, and strive to make your insurance plan as comprehensive as it can be.</p>
    <p>Don't settle for anything but the best—check us out for yourself.</p>
</div>

<div class="award">
    
    <img class="guy" src="/static/images/guy.png">

    <h2>AWARD-WINNING</h2>
    <h5>Outstanding Quality</h5>
    <p>
        Phony Insurance won the Singapore Best Insurance Company 2023 Award, <br>clear of strong competitors 
        like FWD Singapore, AIA, and HSBC Insurance.
    </p>
    <p>
        We are proud to serve over a million customers in Singapore and millions more globally,<br> 
        protecting your valuable devices with our excellent plans & policies.
    </p>
</div>

<div class="bottom">
    <p>Phony Insurance</p>
    <p>&#169;2024 by PhonyInsurance.</p>
</div>

</body>
</html>
