{% extends "base.html" %} {% block title %}Insurance{% endblock %} {% block
content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/insurance.css">
    <title>Insurance</title>
</head>


<body>

 <section>
        <h2>Get a Quote</h2>
        <p>Fill out the form below to get a personalized insurance quote.</p>

        <form method="post">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>

            <label for="gender">Gender:</label>
            <input type="text" id="gender" name="gender" required>

            <label for="collar">Job Type:</label>
             <select id="collar" name="job-collar" required>
                <option value="blue">Blue collar</option>
                <option value="white">White collar</option>
             </select>

            <label for="sports">Are you physically active:</label>
            <input type="text" id="sports" name="sports" required>

            <label for="education">Education level:</label>
            <select id="education" name="education" required>
                <option value="t">t</option>
                <option value="t">t</option>
                <option value="t">t</option>
                <option value="t">t</option>
             </select>

            <label for="vacation">Vacation:</label>
            <input type="text" id="vacation" name="vacation" required>

            <label for="price">Phone price:</label>
            <input type="number" id="price" name="price" required>


            <label for="insurance-type">Insurance Type:</label>
            <select id="insurance-type" name="insurance-type" required>
                <option value="diamond">Diamond Insurance</option>
                <option value="platinum">Platinum Insurance</option>
                <option value="Gold">Gold Insurance</option>
            </select>

            <button type="submit">Get Quote</button>
        </form>
    </section>

</body>

</html>





{% endblock %}