{% extends "base.html" %} {% block title %}Profile | {{ current_user.get_name()
}}{% endblock %} {% block content %}
<div class="container px-4 py-5">
  <h2 class="text-center fw-bold pb-2">Your Profile</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <p class="fw-semibold mb-0 text-body-emphasis col-lg-10 fs-4">
       Profile Picture
      </p>
      {% if image == "/static/images/userprofileimg/None" %}
      <img
        src="/static/images/userprofileimg/avatar.png"
        alt="pfp"
        class="img-fluid border border-primary rounded-circle "
        width="200px"
        height="200px">
      </img>
      {% else %}
      <img
        src="{{ image }}"
        alt="pfp"
        class="img-fluid border border-primary rounded-circle "
        width="200px"
        height="200px">
      </img>
      {% endif %}
      <form method="post" enctype="multipart/form-data">
      {{ imageform.csrf_token }}
      {{ imageform.image(class="form-control w-100")}}
      <br>
      {{ imageform.submit_profile(placeholder="Submit", class="btn btn-primary")}}
      </form>
      {% if imageform.errors %}
      <p>Profile not updated</p>
      <ul class="errors">
        {% for field in imageform %}
        {% for error in field.errors %}
        <li>{{field.label}}: {{ error }}</li>
        {% endfor %} 
        {% endfor %}
      </ul>
      {% endif %}
      {{ result2 }}
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <h4 class="fw-semibold mb-0 text-body-emphasis">Name</h4>
          <p class="text-body-secondary">
            <code class="text-black">{{ current_user.get_name() }}</code>
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <h4 class="fw-semibold mb-0 text-body-emphasis">Email</h4>
          <p class="text-body-secondary">
            <code class="text-black">{{ current_user.get_email() }}</code>
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <h4 class="fw-semibold mb-0 text-body-emphasis">Address</h4>
          <p class="text-body-secondary">
            <code class="text-black">{{ current_user.get_address() }}</code>
          </p>
        </div>
      </div>
    </div>

    {% if current_user.get_newuser() %}
    <h2 class="text-center fw-bold pb-2">
      You have a free promocode to <a href="{{ url_for('wheel') }}">claim</a>.
    </h2>
    {% endif %}
  </div>
</div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
        Update Profile
      </h1>
      <p class="col-lg-10 fs-4">
        Change your password or update your address, as required by law, here.
      </p>
      <p class="col-lg-10 fs-4">
        Leave the fields blank if you do not wish to change them.
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="needs-validation" novalidate="" method="post">
        {{ form.csrf_token }}
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="first-name" class="form-label">First name</label>
            {{ form.name_update(placeholder='new first name', class="form-control")}}
            <div class="invalid-feedback">Valid first name is required.</div>
          </div>

          <div class="col-sm-6">
            <label for="last-name" class="form-label">Last name</label>
            {{ form.name_last_update(placeholder="new last name", class="form-control")}}
            <div class="invalid-feedback">Valid last name is required.</div>
          </div>

          <div class="col-12">
            <label for="email" class="form-label">Email</label>
            {{ form.email_update(placeholder="new email", class="form-control")}}
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>

          <div class="col-12">
            <label for="address" class="form-label">Address</label>
            {{ form.address_update(placeholder="new address", class="form-control")}}
            <div class="invalid-feedback">Please enter your address.</div>
          </div>

          <div class="col-sm-6">
            <label for="new-password" class="form-label">New Password</label>
            {{ form.password_update(placeholder="new password", class="form-control")}}
            <div class="invalid-feedback">Valid new password is required.</div>
          </div>

          <div class="col-sm-6 mt-auto">
            <label for="last-name" class="form-label">Confirm password</label>
            {{ form.password_confirm(placeholder="Confirm password", class="form-control")}}
            <div class="invalid-feedback">
              Ensure both passwords are the same.
            </div>
          </div>
          <div class="col-12">
            <hr>
            <label for="confirm" class="form-label">Current password</label>
            {{ form.old_password(placeholder="Current password", class="form-control")}}
            <div class="invalid-feedback">Please enter your address.</div>
          </div>
        </div>

        <hr class="my-4" />

        {{ form.submit_user_update(placeholder="Update", class="btn btn-primary") }}
      </form>
      <p>{{ result }}</p>
      {% if form.errors %}
    <ul class="errors">
      {% for field in form %} {% for error in field.errors %}
      <li>{{field.label}}: {{ error }}</li>
      {% endfor %} {% endfor %}
    </ul>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}
