{% extends "base.html" %}
{% block title %}proof of concept{% endblock %}

{% block content %}
    <div class="container">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpbs.twimg.com%2Fmedia%2FFgFRr2ZaYAEw5os%3Fformat%3Djpg%26name%3Dlarge&f=1&nofb=1&ipt=5a444f64b96f0924757130f92d23720300160e6f40d778c5e5dc4b43bdaee168&ipo=images"
             alt="fat cat tongue out"
            style="width: 100px;height: 100px">

        <h1>Welcome, {{ user }}</h1>
    </div>

{% endblock %}

